#contactMe {
    overflow: hidden;
    width: 100;
    max-width: 65rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;

}

.contactMeTitle {
  font-size: 3rem;
  font-weight: 600;
  padding-top: 3rem;
  margin-bottom: 1.5rem;

}

.contactMeDesc {
  font-weight: 300;
  font-size: 1.05rem;
  max-width: 50rem;
  padding: 0 2rem;
}

.contactMeDesc1 {
    font-weight: 300;
    font-size: 1.50rem;
    max-width: 50rem;
    padding: 0 2rem;
    color:rgb(179, 207, 209);
  }


  .links {
    display: flex;
    flex-wrap: wrap;
  }

  .link{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 0 0.75rem;

  }

 .links:hover {
    color: rgb(8, 158, 168);
    }